<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:rim="http://www.blackberry.com/ns/widgets"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.intertad.phonegap.plugins.cardpayments.dev"
    version="0.0.23">
    <name>CardPayments</name>
    <description>Cordova Card Payments Plugin</description>
    <license>Apache 2.0</license>
    <keywords>cordova,square,squareup,card payments</keywords>

    <engines>
        <engine name="cordova" version=">=3.2.0" />
    </engines>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/ios/cardpayments.js" name="cardPayments">
            <clobbers target="window.CardPayments" />
        </js-module>

        <config-file target="config.xml" parent="/*">
            <feature name="SquareCardPayments">
                <param name="ios-package" value="CDVSquareCardPayments" onload="true" />
            </feature>
            <feature name="PaypalCardPayments">
                <param name="ios-package" value="CDVPaypalCardPayments" onload="true" />
            </feature>
        </config-file>

        <config-file target="*-Info.plist" parent="CFBundleURLTypes">
          <array>
            <dict>
              <key>CFBundleURLSchemes</key>
              <array>
                <string>auto-shop</string>
              </array>
              </dict>
          </array>
        </config-file>
        
        <config-file target="*-Info.plist" parent="LSApplicationQueriesSchemes">
                                <array>
                        <string>paypalhere</string>
                        <string>square-commerce-v1</string>
                    </array>
                
           
        </config-file>
    
        <header-file src="src/ios/NSDictionary+SCAdditions.h" />
        <source-file src="src/ios/NSDictionary+SCAdditions.m" />
        <header-file src="src/ios/NSURL+SCAdditions.h" />
        <source-file src="src/ios/NSURL+SCAdditions.m" />
        <header-file src="src/ios/CDVSquareCardPayments.h" />
        <source-file src="src/ios/CDVSquareCardPayments.m" />
        <header-file src="src/ios/CDVPaypalCardPayments.h" />
        <source-file src="src/ios/CDVPaypalCardPayments.m" />
    </platform>

      <!-- android -->
      <platform name="android">
        <js-module src="www/android/cardpayments.js" name="cardPayments">
            <clobbers target="window.CardPayments" />
        </js-module>

        <framework src="com.squareup.sdk:register-sdk:1.0" />

        <config-file target="res/xml/config.xml" parent="/*">
          <feature name="PayPalHere">
            <param name="android-package" value="com.intertad.phonegap.plugins.paypalhere.PayPalHere"/>
          </feature>
          <feature name="Square">
            <param name="android-package" value="com.intertad.phonegap.plugins.square.Square"/>
          </feature>
        </config-file>

        <source-file src="src/android/com/intertad/phonegap/plugins/paypalhere/PayPalHere.java" target-dir="src/com/intertad/phonegap/plugins/paypalhere"/>
        <source-file src="src/android/com/intertad/phonegap/plugins/square/Square.java" target-dir="src/com/intertad/phonegap/plugins/square"/>

        <config-file target="AndroidManifest.xml" parent="/*/application/activity">
          <intent-filter>
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />

            <data
                android:host="paypalResult"
                android:scheme="auto-shop" />
          </intent-filter>
        </config-file>
      </platform>

</plugin>
